* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
img {
  border: 0 none;
  vertical-align: top;
}
i,
em {
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
textarea,
input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 750px;
  height: 1px;
  min-height: 100%;
  background: #f8f8f8;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #999999;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}
input[type="text"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select {
  border: none;
  background-color: transparent;
}

input:disabled,
input[disabled] {
  color: #999999 !important;
  -webkit-text-fill-color: #999999 !important;
  -webkit-opacity: 1 !important;
  opacity: 1 !important;
}

/*表单中 input的placeholder样式重写*/
.form_cell input::-webkit-input-placeholder {
  font-size: 30px;
  color: #999999;
  opacity: 0.7;
}

/*dialog 样式重写*/
.dialog.van-dialog {
  width: 560px;
  background-color: #ffffff;
  border-radius: 15px;
}
.van-dialog__header {
  font-size: 36px;
  color: rgba(51, 51, 51, 1);
}
/* .dialog .van-dialog__header {
  text-align: center;
  padding:58px 30px 0 30px;
  font-size: 36px;
  color: #000000;
} */
.dialog .van-dialog__message--has-title {
  padding: 33px 40px;
  font-size: 30px;
  text-align: center;
  color: #999999;
}
.dialog .van-dialog__cancel {
  font-size: 36px;
  color: #000000;
}
.dialog2 .van-dialog__confirm {
  font-size: 36px;
  color: #f12c20;
}
.dialog2 .van-dialog__confirm,
.dialog2 .van-dialog__confirm:active {
  color: #f12c20;
}
.dialog .van-button:active::before {
  opacity: 0;
}

/*toast border-radius 更改*/
.van-toast.van-toast--text {
  border-radius: 33px;
  padding: 24px !important;
}

/*折叠面板样式重置*/
.van-cell {
  padding: 0 !important;
  line-height: normal !important;
}
.van-icon.van-cell__right-icon {
  display: none;
}
.detail_icon .van-icon.van-cell__right-icon {
  display: inline-block;
  transform: translateY(5px);
  font-size: 24px;
}
.van-collapse-item__content {
  padding: 30px 19px 30px 25px !important;
  line-height: 42px;
  background: #fcfcfc !important;
}
.van-cell:not(:last-child)::after {
  display: none !important;
}

/*上传图片 loading*/
.cell_uploadImg .van-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 116px;
  height: 116px;
  margin-top: -58px;
  margin-left: -58px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* mintUi listIndex样式重写 */
.mint-indexsection .mint-indexsection-index {
  margin: 0;
  line-height: 40px;
  padding: 0 0 0 20px;
  color: #999999;
  font-size: 28px;
  background-color: #eeeeee;
}
.mint-indexlist-content {
  width: 100%;
  margin-right: 0 !important;
}
.mint-indexlist .mint-indexlist-nav {
  background: transparent;
  border-left: 0;
  color: #2e51ff;
  width: 10%;
}
.mint-indexlist .mint-indexlist-nav ul {
  overflow-y: auto;
}
.mint-cell .mint-cell-wrapper {
  padding: 0 50px 0 51px;
  font-size: 28px;
  line-height: 86px;
  color: #333333;
}
.mint-cell::after {
  display: block;
  width: 88%;
  height: 1px;
  margin: 0 auto;
  background: #e5e5e5;
  content: " ";
}
.mint-indexsection .mint-cell:last-child::after {
  display: none;
}

/* wdli  */
.disnone{
  display: none!important;
}
